.card {
  margin-top: 20px;
  position: relative;
  /* max-heigth: 410px; */
  width: 120px;
}

.ribbon {
  position: absolute;
  right: 0;
  top: 0px;
  z-index: 1;
  overflow: hidden;
  width: 100px;
  height: 100px;
  text-align: right;
}

.ribbon span {
  text-transform: uppercase;
  text-align: center;
  line-height: 25px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 115px;
  display: block;
  background: #cc5500;
  color: white;
  position: absolute;
  top: 20px;
  right: -25px;
}

.hover {
  overflow: hidden;
}

.hover img {
  transition: 0.5s all ease-in-out;
}

.hover:hover img {
  transform: scale(1);
  border: 5px solid #cc5500;
}

img {
  width: 120px;
  border: 1px solid #cc5500;
}
